*{
  box-sizing: border-box;
  padding: 0;
  align-content:space-between;
  align-items: center;
}

.showcase{
  position: absolute;
  top: -10%;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  z-index: 2;
}

.email, i{
  background-image: linear-gradient(rgb(224, 174, 48), rgb(103, 114, 219), rgb(247, 180, 11));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: rgb(156, 5, 5); 
}

.showcase header {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  padding: 60px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 44%;
  background-image: linear-gradient(yellow, rgb(30, 30, 218), rgb(143, 7, 7));
  opacity: 0.8;
  mix-blend-mode: overlay;
}
.overlay2 {
  position: absolute;
  height: 40%;
  min-width: 100%;
  left: 0;
  top: 44%;
  background-image: linear-gradient(rgba(0,0,0,0.8), #859cf1), url(beach.jpg);
  background-size: cover;
}


.showcase video {
  position: absolute;
  min-width: 100%;
  top: 0;
  left: 0;
  height: 44%;
  object-fit: cover;
}


.logo{
  position: relative;
  width: 80px;
  height: 70px; 
  background-position: center;
  background-image: url(logo.png);
  background-size: 100%;  
  animation: spin 5s linear infinite;
}

@keyframes spin{
  /* 100%{-webkit-transform: rotate(360deg);} */
}

.text{
  display: block;
  position: relative;
  z-index: 10;
  top: -100px;
}

.welcome{
  background-image: linear-gradient(rgb(6, 6, 109), rgb(74, 138, 235), rgb(6, 6, 109));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: rgb(68, 6, 241);
  -webkit-text-stroke-width: 1.5px;
  font-size: 4em;
  font-weight: 200;
  margin-bottom: -60px;
}
.text h1 {
  background-image: linear-gradient(rgb(248, 183, 17), rgb(255, 255, 246), rgb(247, 180, 11));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -webkit-text-stroke-color: rgb(99, 4, 4);
  -webkit-text-stroke-width: 1.3px;
  font-weight: 600;
  font-size: 6em;
  animation: fadeIn 1s;
  margin-bottom: 10%;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  70% { opacity: 0; transform: translateX(-30px);}
  100% { opacity: 1; }
}

.leads{
  position: relative;
  text-align: center;
  top: 20%;
  font-size: 5em;
  background-image: linear-gradient(rgb(248, 183, 17), rgb(255, 255, 246), rgb(247, 180, 11));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: rgb(68, 6, 241);
  -webkit-text-stroke-width: 1.5px;
  margin-bottom: -0.3%;
  animation: fadeIn 2s;
}

.buttons{
  position: relative;
  padding-top: 10px;
  text-align: center;
}

.buttons.contact{
  margin-right: 150px; 
  margin-left: 150px;
}

.text a{
  font-size: 1.5em;
  background-image: linear-gradient(rgb(51, 51, 185), rgb(182, 196, 218), rgb(6, 2, 31));
  padding: 5px;
  text-decoration: none;
  color: rgb(143, 109, 23);
  border-radius: 100px;
  border-color: rgb(24, 24, 209);
  border-width: 7px;
  border-style: double;
}

.text a:hover {
  transform: scale(0.7) translateY(-10px);
}

.dream {
  position: relative;
  font-size: 5em;
  font-weight: 800;
  width: 800px;
  background-image: linear-gradient(rgb(6, 6, 109), rgb(74, 138, 235), rgb(6, 6, 109));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: rgb(68, 6, 241);
  -webkit-text-stroke-width: 1px;
  animation: fadeIn 1s;
}

.copywriter {
  position: relative;
  text-align: end;
  width: 1000px;
  font-size: 2.5em;
  font-weight: 600;
  background-image: linear-gradient(rgba(50, 9, 236, 0.692), rgb(224, 13, 13), rgba(50, 9, 236, 0.692));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: rgb(175, 150, 9);
  -webkit-text-stroke-width: 0.6px;
  animation: fadeIn 0.1s;
}
@keyframes scroll{
  0%{ transform: translateY(-800px);}
  100%{transform: translateY(450px);}
}

.slide{
  max-height: 900px;
  margin: auto;
  overflow: hidden;
  position: absolute;
  left: -15px;
  top: 20%;
  width: auto;
}
.slide li {
  list-style: none;
  text-align: center;
  vertical-align: middle;
}

.slide li a {
  display: inline-block;
  margin: 80px;
  animation: scroll 6s linear infinite;
}


.menu{
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul{
  position: relative;
  list-style: none;
}

.menu ul li a{
  text-decoration: underline;
  font-size: 25px;
  color: black;
}

.menu ul li a:hover{
  color: blue;
}

footer {
  position: absolute;
  height: 16%;
  min-width: 100%;
  left: 0;
  top: 84%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), #050607);
}
.property h3.tailored{
  position: relative;
  text-align: center;
  padding: 20px;
  border-style:ridge;
  border-radius: 100px;
  border-width: 6px;
  border-color: rgb(102, 75, 5);
  background-image: linear-gradient(rgb(102, 75, 5), rgb(184, 163, 72), rgb(102, 75, 5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;   text-align: center;
  font-size: 1.7em;
  -webkit-text-stroke-color: rgb(145, 7, 7);
  -webkit-text-stroke-width: 0.5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.property h3.number{
  position: relative;
  text-align: center;
  background-image: linear-gradient(rgb(102, 75, 5), rgb(184, 163, 72), rgb(102, 75, 5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;   
  text-align: center;
  font-size: 1.7em;
}
/* RESPONSIVE */

@media(max-width: 1200px) {
  .showcase{
    position: absolute;
    justify-content: space-around;
  }

  .logo{
    
    background-repeat: no-repeat;
  }
  .email{
    text-align: center;
    width: 160px;
    font-size: 1em;

  }

  .overlay1, .showcase video{
    top: 0px;
    height: 53%;
    max-width: 100%;
    z-index: 1;
  }
  .overlay2{
    top: 53%;
    max-width: 100%;
    height: 47%;
    background-image: linear-gradient(rgba(0,0,0,0.8), #859cf186), url(beach.jpg);
  }

  footer, footer.property{
    top: 99%;
    height: 17%;
    z-index: 3;
  }
 
  .text{
    position: relative;
    width: 800px;
  }
  .text h1, .text h2.welcome{
    -webkit-text-stroke-width: 0.6px;
    font-size: 2.5em;
    margin: 150px;
  }

  .leads{
    font-size: 2.5em;
    -webkit-text-stroke-width: 1px;

  }
  .buttons{
    font-size: 0.5em;
    margin-bottom: 200px;
  }
  
  .dream, .copywriter{
    position: relative;
    font-size: 1.5em;
    left: 30%;
    width: 300px;
  }

  .dream{
    margin-bottom: 190px;
  }

  .copywriter{
    width: 300px;
    font-size: 1.3em;
  }


  hr{
    width: 350px;
  }

  @keyframes scroll{
    0%{ transform: translateX(-350px);}
    100%{transform: translateX(300px);}
  }
  
  .slide{
    overflow: hidden;
    left: 10%;
    top: 60%;
  }
  
  .slide li{
    list-style: none;
    width: 100px;
    display: flex;
    float: left;
    margin: 30px;
  }

}
  /* FOR ITALIAN FLAG */
/* .flagpng {
  height: 350px;
}

.itaflag {
  text-decoration: underline;
  font-style: italic;
  font-size: 0px;
  position: relative;
  text-align: center;
}
.forz {
  font-size: 100px;
  color: green;
  margin-right: -20px;
  text-decoration: underline;
}

.ait {
  font-size: 100px;
  color: white;
  margin-right: -20px;
  text-decoration: underline;
}
.alia {
  font-size: 100px;
  color: red;
  text-decoration: underline;
} */
