*{
  box-sizing: border-box;
  padding: 0;
  align-content:space-between;
  align-items: center;
}

.showcase{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  z-index: 2;
}

.showcase.active{
  right: 200px;
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(93, 120, 160);
  mix-blend-mode: overlay;
}
.showcase video {
  position: fixed;
  min-width: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 200px;
}

.toggle {
  border-style: double;
  border-radius: 100px;
  border-width: 7px;
  border-color: rgb(23, 25, 184);
  position: relative;
  width: 60px;
  height: 60px; 
  cursor: pointer;
  background-position: center;
  background-image: url(menu.png);
  background-size: 50%;
  background-repeat: no-repeat;
}

.toggle.active{
  background-position: center;
  background-image: url(closemenu.png);
  background-size: 50%;
} 

.logo{
  position: relative;
  width: 100px;
  height: 80px; 
  background-position: center;
  background-image: url(logo.png);
  background-size: 100%;  
}

.text{
  left: 15%;  
  position: relative;
  z-index: 10;
}

.text h2.welcome{
  color: rgb(248, 180, 8);
  font-size: 4em;
  font-weight: 100;
  margin-bottom: 10px;
  text-shadow: 5px 2.5px blue;
}
.text h1 {
  color: rgb(248, 180, 8);
  font-size: 6em;
  font-weight: 500;
  text-align: center;
  border-style: double;
  border-radius: 100px;
  border-width: 10px;
  border-color: rgb(23, 25, 184);
  text-shadow: 2.5px 2.5px blue;
  max-width: 80%;
  margin-bottom: 2px;
}

.text h2.dream {
  position: relative;
  font-size: 3em;
  font-weight: 800;
  width: 500px;
  color: rgb(66, 183, 238);
  text-shadow: 5px 2.5px blue;
}

.text h2.copywriter {
  position: relative;
  font-size: 3em;
  width: 1000px;
  color: rgb(66, 183, 238);
  text-shadow: 5px 2.5px blue;
}


.text a{
  display: inline-block;
  font-size: 2em;
  background-color: white;
  padding: 10px px;
  text-decoration: none;
  color: rgb(248, 180, 8);
  margin-bottom: 80px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 1.2px rgb(5, 5, 245);
}

.text a:hover {
  transform: scale(1.2) translateY(-10px);}

.socials {
  position: absolute;
  bottom: 20px;
  z-index: 1;
  display: flex;
  height: 100px;
  left: 10;
}

.socials li {
  list-style: none;
}

.socials li a {
  display: inline-block;
  margin-right: 10px;
  transform: scale(0.5);
  transition: 0.1s;
}

.socials li a:hover {
  transform: scale(0.7 ) translateY(-5px);
}

.menu{
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.menu ul{
  position: relative;
  list-style: none;
}

.menu ul li a{
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.menu ul li a:hover{
  color: blue;
}

@media(max-width: 991px) {
  .showcase,
  .showcase header {
    margin: 40px;
  }
  
  .text h1{
    font-size: 4em;
    max-width: 500px;
  }
  .text h2.copywriter{
    font-size: 3em;
    max-width: 80%;
  }
 
}
/* .flagpng {
  height: 350px;
}

.itaflag {
  text-decoration: underline;
  font-style: italic;
  font-size: 0px;
  position: relative;
  text-align: center;
}
.forz {
  font-size: 100px;
  color: green;
  margin-right: -20px;
  text-decoration: underline;
}

.ait {
  font-size: 100px;
  color: white;
  margin-right: -20px;
  text-decoration: underline;
}
.alia {
  font-size: 100px;
  color: red;
  text-decoration: underline;
} */
