*{
    box-sizing: border-box;
    padding: 0;
    align-content:space-between;
    align-items: center;
  }

.showcase{
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;
    min-height: 100vh;
    padding: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
  }
  
.showcase.active{
    right: 150px;
}

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 50px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle {
    border-style: double;
    border-radius: 100px;
    border-width: 7px;
    border-color: rgb(23, 25, 184);
    position: relative;
    width: 60px;
    height: 60px; 
    cursor: pointer;
    background-position: center;
    background-image: url(menu.png);
    background-size: 50%;
    background-repeat: no-repeat;
}
  
.toggle.active{
    background-position: center;
    background-image: url(closemenu.png);
    background-size: 80%;
} 

.logo{
    position: relative;
    width: 100px;
    height: 80px; 
    background-position: center;
    background-image: url(logo.png);
    background-size: 100%;  
}

.background{
    position: fixed;
    top: 0;
    background-image: url(sun.jpg);
    min-width: 100%;
    min-height: 100vh;
    left: 0;
}

.title{
    z-index: 3;
    font-size: 3em;
    text-align: center;
    height: 100%;
    max-width: 100%;
}

.me, .text{
    left: -110px;
}
.text{
    background-image: radial-gradient(rgb(202, 174, 17), rgb(224, 18, 18));
    position: relative;
    display: inline-block;
    padding: 20px 70px;
    max-width: 100%;
    width: 700px;
    border-radius: 10px;
}

.text h2{
    width: 200px;
}

h2.message{
    font-size: 1.7em;
    text-align: center;
    width: 500px;
    background-image: radial-gradient(rgb(13, 4, 95), rgb(2, 2, 37));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.9px;
  -webkit-text-stroke-color: rgb(189, 7, 7);
  text-transform: capitalize;
}

.text h3{
    width: 400px;;
}
.me{
    position: relative;
    align-items: center;
    top: 20%;
    max-height: 800px;
    margin-right: 10px;
    z-index: 100;
    border: 5px solid rgba(0, 0, 255, 0.425);
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    min-height: 100vh;
    bottom: 0;
    background-color: rgb(87, 149, 241);
    mix-blend-mode: overlay;
    object-fit: cover;
  }
  h3{
    position: relative;
  }

  @media(max-width: 1200px) {
    .showcase{
        position: absolute;
    }
  
    .background{
        position: absolute;
        width: 200px;
    }


    .logo{
      height: 40px;
      width: 50px;
      top: -20px;
    } 

    

    .text{
        position: absolute;
        height: 600px;
        left: 35%;
        width: 250px;
        top: 70px;

    }
    h1.meet{
        position: relative;
        font-size: 20px;
        width: 250px;
        right: 40px;
        top: -20px;
    }
    h3.quote{
        position: relative;
        font-size: 10px;
        width: 160px;
        top: -10px;
    }
    h2.message{
        position: relative;
        font-size: 15px;
        width: 250px;
        margin-top: 15px;
        right: 70px;
        -webkit-text-stroke-color: transparent;
    }

    .me{
        position: absolute;
        height: auto;
        width: 170px;
        top: 20%;
        left: 6%;
    }
  }
